* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.square {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: white;
  border: 1px solid black;
}

.board {
  margin: 20px;
  width: 105px;
  height: 105px;
  display: flex;
  flex-wrap: wrap;
}